@model ProductViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>


<form asp-controller="home" asp-action="create" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="BrandId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">

            <select asp-for="BrandId" asp-items="@(Model.BrandList)" class="form-control">
                <option>Please select</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="ComputerTypeId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">

            <select asp-for="ComputerTypeId" asp-items="@(Model.ComputerTypeList)" class="form-control">
                <option>Please select</option>
            </select>
            <span asp-validation-for="ComputerTypeId" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Quantity" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Quantity" class="form-control" placeholder="Quantity" required/>
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Processor" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Processor" class="form-control" placeholder="Processor" required/>
            <span asp-validation-for="Processor" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="RamSlots" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="RamSlots" class="form-control" placeholder="Ram Slots" required/>
            <span asp-validation-for="RamSlots" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ScreenSize" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ScreenSize" class="form-control" placeholder="Screen Size" />
            <span asp-validation-for="ScreenSize" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">

        <input type="submit" value="Create" />
    </div>

</form>